.main-menu .container .row{
    float: right;

}
.main-menu .container{
    max-width: 100%;
}
.main-content .main-navbar{
    display: none;
}
@media only screen and (max-width: 1100px) {
    .main-content .main-navbar{
        display: block;
    }
}
.flag-select__option__icon{
    top: -0.1em!important;
}
.country-select select{
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-size: 8px 10px;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    font-size: .8125rem;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
    border-radius: .25rem;
    width: 100%;
}
.valid-suggestions{
    margin-top: .25rem;
    font-size: 80%;
    color: #495057;
    font-weight: 400;
    font-style: italic;
    display: block;
    width: 100%;
}

/* Add New Event Page */
.language-club-layout .add-new-event{
    margin-right: 30%;
}
@media only screen and (max-width: 1100px) {
    .language-club-layout .add-new-event{
        margin-right: 0%;
    }
}

/* Add event sidebar */
.add-event-sidebar{
    justify-content: center;
}
.add-event-sidebar .row{
    justify-content: center;
}

/* Sidebar */
.language-club-layout .main-sidebar{
    background-color: #0EB6BD;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link.active{
    background-color: white;
    box-shadow: inset 0.1875rem 0 0 black;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link span{
    color: white;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link:hover{
    background-color: white;
    color: #0EB6BD;
    box-shadow: inset 0.1875rem 0 0 black;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link:hover .d-inline-block i{
    color: #0EB6BD;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link:hover span{
    color: #0EB6BD;
}
.language-club-layoutt .main-sidebar .nav .nav-item .nav-link .d-inline-block i{
    color: white;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link.active span{
    color: #0EB6BD;
}
.language-club-layout .main-sidebar .nav .nav-item .nav-link.active .d-inline-block i{
    color: #0EB6BD;
}
/*Right Sidebar*/
.language-club-layout .show-right-sidebar-icon{
    font-size: 30px;
    color: white;
}
.language-club-layout .show-right-sidebar-button{
    padding: 5px;
    background-color: #0EB6BD;
    border: 1px solid #0EB6BD;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 6000;
    top: 50%;
    right: 1%;
    outline: none;
}

.language-club-layout .cancel-right-sidebar-button{
    padding: 5px;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 6000;
    top: 50%;
    right: 1%;
    outline: none;
}
.language-club-layout .right-sidebar{
    height: 100%;
    width: 100%;
    max-width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fbfcfc;
    overflow-x: auto;
    transition: 0.5s;
}
.container-fluid .language-club-layout .full-sidebar{
    width: 25%;
    max-width: 25%;
    z-index: 2000;
    background-color: white;
}
.language-club-layout .right-sidebar .dropdown-toggle{
    background-color: #0EB6BD;
    color: white;
}
@media only screen and (min-width: 1100px) {
    .language-club-layout .show-right-sidebar-button{
        display: none;
    }
}
@media only screen and (max-width: 1100px) {
    .language-club-layout .main-content .login-page{
        margin-right: 0;
    }
    .language-club-layout .right-sidebar{
        width: 0%;
    }
    .container-fluid .language-club-layout .home-page{
        margin-right: 0%;
    }
    .container-fluid .language-club-layout .full-sidebar{
        width: 40%;
        max-width: 40%;
        z-index: 2000;
        background-color: white;
    }
}
@media only screen and (max-width: 700px) {
    .container-fluid .language-club-layout .full-sidebar{
        width: 100%;
        max-width: 100%;
    }
}
.language-club-layout .right-sidebar .nav-item .user-avatar{
    width: 50px
}
.language-club-layout .right-sidebar .dropdown-toggle::after{
    display: none;
}

/*Search bar*/
.language-club-layout .home-page .search-filter-container{
    margin-top: 15px;
    width: 100%;
}
.language-club-layout .home-page .search-filter-container .ml-3{
    margin-left: 0!important;
}
.language-club-layout .home-page .search-filter-container .main-navbar__search .input-group .input-group-prepend{
    padding-top: 2px;
}
.language-club-layout .home-page .search-filter-container .main-navbar__search .input-group .input-group-prepend .input-group-text i.material-icons{
    font-size: 1.2rem;
}
.language-club-layout .home-page .search-filter-container .main-navbar__search .input-group .navbar-search{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    border-radius: 10px;
}

/*Login*/
.language-club-layout .login-page {
    margin-right: 30%;
}
.language-club-layout .login-page .form-container{
    margin: auto;
    margin-top: 50px;
}
.login-page .invalid-feedback{
    font-size: 20px;
    display: block;
}
.login-page .col-lg-5 .card{
    margin-top: 30px;
}
.login-page .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.login-page .col-lg-5 {
    margin: auto;
}
.login-page .mb-2.mr-1.btn.btn-primary {
    width: 100%;
}
.login-page .text-muted.d-block.mb-2.forget {
    text-align: right;
}
.login-page .text-muted.d-block.mb-2.signin {
    text-align: center;
}

/*Signup*/
.language-club-layout .signup-page{
    margin-right: 30%;
}
.language-club-layout .signup-page .signup-form{
    margin: auto;
    margin-top: 30px;
}
.signup-page .invalid-feedback{
    font-size: 20px;
    display: block;
}
.signup-page .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.signup-page .col-lg-6 {
    margin: auto;
}
.signup-page .mb-2.mr-1.btn.btn-success {
    width: 100%;
}
@media only screen and (max-width: 1100px) {
    .language-club-layout .signup-page{
        margin-right: 0;
    }
}
/*User-Profile*/
.language-club-layout .user-profile{
    margin-right: 30%;
}
.language-club-layout .user-profile .user-role{
    padding-bottom: 10px;
    font-weight: 400;
}
.language-club-layout .user-profile .user-full-name{
    padding-bottom: 10px;
}
@media only screen and (max-width: 1100px) {
    .language-club-layout .user-profile{
        margin-right: 0;
    }
}
.user-profile .btn-change-pass{
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 767px) {
    .user-profile .btn-update{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .user-profile .btn-change-pass{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
