.main-menu .container .row{
    float: right;

}
.main-menu .container{
    max-width: 100%;
}
.main-content .main-navbar{
    display: none;
}
.btn{
    background-image: none!important;
}
/* Loading */
.loading-container{
    align-items: center;
    padding: 20px;
    margin: auto;
    text-align: center;
}
@media only screen and (max-width: 1100px) {
    .main-content .main-navbar{
        display: block;
    }
}
.flag-select__option__icon{
    top: -0.1em!important;
}
.country-select select{
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-size: 8px 10px;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    font-size: .8125rem;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
    border-radius: .25rem;
    width: 100%;
}
.valid-suggestions{
    margin-top: .25rem;
    font-size: 80%;
    color: #495057;
    font-weight: 400;
    font-style: italic;
    display: block;
    width: 100%;
}

/* Sidebar */
.participants-layout .main-sidebar{
    background-color: #1d84ef;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link.active{
    background-color: white;
    box-shadow: inset 0.1875rem 0 0 black;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link span{
    color: white;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link:hover{
    background-color: white;
    color: #1d84ef;
    box-shadow: inset 0.1875rem 0 0 black;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link:hover .d-inline-block i{
    color: #1d84ef;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link:hover span{
    color: #1d84ef;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link .d-inline-block i{
    color: white;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link.active span{
    color: #1d84ef;
}
.participants-layout .main-sidebar .nav .nav-item .nav-link.active .d-inline-block i{
    color: #1d84ef;
}
/*Right Sidebar*/
.participants-layout .show-right-sidebar-icon{
    font-size: 30px;
    color: white;
}
.participants-layout .show-right-sidebar-button{
    padding: 5px;
    background-color: #1d84ef;
    border: 1px solid #1d84ef;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 6000;
    top: 50%;
    right: 1%;
    outline: none;
}

.participants-layout .cancel-right-sidebar-button{
    padding: 5px;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 6000;
    top: 50%;
    right: 1%;
    outline: none;
}
.participants-layout .right-sidebar{
    height: 100%;
    width: 100%;
    max-width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fbfcfc;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
}
.container-fluid .participants-layout .full-sidebar{
    width: 25%;
    max-width: 25%;
    z-index: 2000;
    background-color: white;
}
.participants-layout .right-sidebar .dropdown-toggle{
    background-color: #1d84ef;
    color: white;
}
@media only screen and (min-width: 1100px) {
    .participants-layout .show-right-sidebar-button{
        display: none;
    }
}
@media only screen and (max-width: 1100px) {
    .participants-layout .main-content .login-page{
        margin-right: 0;
    }
    .participants-layout .right-sidebar{
        width: 0%;
    }
    .container-fluid .participants-layout .home-page{
        margin-right: 0%;
    }
    .container-fluid .participants-layout .full-sidebar{
        width: 40%;
        max-width: 40%;
        z-index: 2000;
        background-color: white;
    }
}
@media only screen and (max-width: 700px) {
    .container-fluid .participants-layout .full-sidebar{
        width: 100%;
        max-width: 100%;
    }
}
.participants-layout .right-sidebar .nav-item .user-avatar{
    width: 50px;
    height: 50px;
}
.participants-layout .right-sidebar .dropdown-toggle::after{
    display: none;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar{
    justify-content: center;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .row{
    justify-content: center;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .card-body{
    padding-top: 0;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .organizer-name{
    color: #5a6169;
    font-weight: 500;
    font-size: 16px;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .club-logo{
    width: 50px;
    height: 50px;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .sidebar-club-description{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8e8e8e;
    font-weight: 500;
    font-size: 14px;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .limit-height-description{
    max-height: 108px;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .max-height-description{
    max-height: 100%;
}
.participants-layout .right-sidebar .page-function .event-detail-sidebar .organizer .etc{
    font-weight: 500;
    font-size: 14px;
    border: 0;
    background: none;
    padding: 0;
    outline: none;
}
.participants-layout .right-sidebar .vh-height{
    height: 92vh;
}
.participants-layout .right-sidebar .autoheight{
    height: auto;
}
.participants-layout .right-sidebar .right-sidebar-footer .sidebar_checkmap_icon{
    color: #1d84ef;
    font-size: 19px;
    margin: 0;
    vertical-align: middle;
}
.participants-layout .right-sidebar .right-sidebar-footer .sidebar_checkmap_button{
    background-color: #f2f6f9;
    background-image: none;
    border: 1px solid #f2f6f9;
    color: #1d84ef;
    width: 100%;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
}
.participants-layout .right-sidebar .right-sidebar-footer .sidebar_checkmap_button:hover{
    border: 1px solid #1d84ef;
    background-color: white;
    box-shadow: unset;
}
.participants-layout .right-sidebar .right-sidebar-footer .right_sidebar_action{
    position: relative;
    margin-left: 0;
    vertical-align: bottom;
    line-height: initial;
    width: 100%;
    align-items: center;
}
@media only screen and (max-width: 1300px) {
    .participants-layout .right-sidebar .right-sidebar-footer .sidebar_checkmap_button{
        font-size: 12px;
    }
}
@media only screen and (max-width: 1100px) {
    .participants-layout .right-sidebar .right-sidebar-footer .sidebar_checkmap_button{
        font-size: 13px;
    }
}
/*Search bar*/
.participants-layout .home-page .search-filter-container{
    margin-top: 15px;
    width: 100%;
}
.participants-layout .home-page .search-filter-container .ml-3{
    margin-left: 0!important;
}
.participants-layout .home-page .search-filter-container .main-navbar__search .input-group .input-group-prepend{
    padding-top: 2px;
}
.participants-layout .home-page .search-filter-container .main-navbar__search .input-group .input-group-prepend .input-group-text i.material-icons{
    font-size: 1.2rem;
}
.participants-layout .home-page .search-filter-container .main-navbar__search .input-group .navbar-search{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    border-radius: 10px;
}

/* Events */
.participants-layout .home-page {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30%;
}
.event-list .card-post--aside {
    display: block;
    clear: both;
}
.participants-layout a{
    text-decoration: none;
}
.participants-layout a:hover{
    text-decoration: none;
}

.participants-layout .home-page .card-title{
    display: inline-flex;
}
.participants-layout .home-page .card-title .calendar-icon .div-1-0-1-1{
    background-color: #f2f6f9;
    height: 60px;
    width: 55px;
    padding: 5px;
}
.participants-layout .home-page .card-title .calendar-icon .div-2-0-1-3{
    display: none;
}
.participants-layout .home-page .card-title .calendar-icon .div-4-0-1-5{
    background-color: #f2f6f9;
    margin: auto;
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 400;
}
.participants-layout .home-page .card-title .calendar-icon .div-3-0-1-6{
    background-color: #f2f6f9;
    padding: 10px;
    padding-top: 0;
    font-size: 20px;
    color: #3f3f3f;
    font-weight: 700;
}
.participants-layout .event-list .event-bottom-view{
    display: inline-flex;
}
.event-list .card-post--1 {
    margin-top: 30px;
}
.event-list .event-counting-number{
    padding-left: 5px;
    color: #5a6169;
}
.event-list .card-post--aside .card-post__image{
    padding-bottom: 225px;
    border-radius: .625rem;
}
.participants-layout .event-list .card-title .event-title{
    color: #3f3f3f;
    padding-left: 15px;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.8rem;
    display: block;
    font-size: 20px;
}
.event-list .card-post--1.card-post--aside .card-post__category{
    top: -0.6rem;
    left: -1.75rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}
.event-list .card-post--1.card-post--aside .weekly{
    color: white;
    background-color: #F2B413!Important;
}
.event-list .card-post--1.card-post--aside .daily{
    color: white;
    background-color: #4300DB!Important;
}
.event-list .card-post--1.card-post--aside .special{
    color: white;
    background-color: #F20574!Important;
}
.event-list .card-post--1.card-post--aside .card-post__author h5{
    padding-left: 10px;
    line-height: 2rem;
}
.event-list .booking-icon{
    padding: 7px;
    padding-top: 7px;
    padding-bottom: 6.105px;
    margin-top: -11px;
    background-color: #f2f6f9;
    border-radius: 10px;
}
.event-list .pagination {
    margin-top: 10px;
    justify-content: center;
}
.event-location{
    display: inline-flex;
    padding-left: 10px;
    padding-top: 5px;
}
.event-location span{
    font-size: 14px;
    color: #65676B;
    font-weight: 400;
}
.event-location .material-icons{
    color: #c1c1c1;
    font-size: 20px;
    line-height: 1.2;
}
.event-category{
    display: inline-flex;
    padding-left: 8px;
    padding-top: 10px;
}
@media only screen and (min-width: 991px) {
    .event-list .card-post--1.card-post--aside .card-post__category{
        left: -2.75rem;
    }
}
@media only screen and (max-width: 991px) {
    .event-category {
        width: 100%;
    }
    .event-category .row{
        width: 100%;
    }
    .event-list .card-post--1.card-post--aside .card-post__category{
        left: 0.5em;
        right: auto;
    }
    .event-list .booking-icon{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .event-list .booking-icon{
        margin-left: 100px;
    }
}
 @media only screen and (max-width: 575px) {
    .participants-layout .home-page{
        padding-left: 10px;
        padding-right: 10px;
    }
    .event-list .event-list-footer .event-post-author{
        width: 40%;
    }
    .event-list .event-list-footer .event-counting{
        width: 59%;
    }
    .event-list .event-list-footer .event-counting .event-count .col-sm-4{
        width: 29%;
    }
}

/*Event Detail*/
.card .card-text{
    color: #8e8e8e;
    font-weight: 500;
    font-size: 14px;
}
.ReactModal__Overlay--after-open{
    z-index: 2000!important;
}
.user-comment-avatar{
    max-width: 40px;
    max-height: 40px;
}
.more-comments-button h2{
    font-size: 35px;
}
.participants-layout .event-detail {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30%;
}
.participants-layout .event-detail .like-container{
    padding-left: 10px;
}
.participants-layout .event-detail .like-container span{
    font-size: 15px;
}
.participants-layout .event-detail .like-container .like-button{
    background-color: transparent;
    background-image: none;
    border: 0px;
    padding: 0px;
    margin-bottom: 0.2rem;
}
.participants-layout .event-detail .like-container .like-button:focus{
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.participants-layout .event-detail .like-container .like-button:active{
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.participants-layout .event-detail .like-container .like-button i{
    font-size: 20px;
    color: black;
}
.participants-layout .event-detail .like-container .like-button .like-icon{
    color: rgb(237, 73, 86);
    font-size: 20px;
}
.participants-layout .event-detail .like-container .like-button-active{
    border: 1px solid #F20574;
    background-color: #F20574;
    color: white;
    font-size: 13px;
}
.event-detail .event-list .card-post--1.card-post--aside .card-post__category{
    top: -1.1rem;
    left: 0;
}
.participants-layout .event-detail .card-title{
    display: inline-flex;
}
.participants-layout .event-detail .event-list .card-header{
    padding: 0;
}
.participants-layout .event-detail .comments .card-header{
    padding: 1rem 1rem;
    padding-bottom: 0;
}
.comment-input{
    border-bottom: 1px solid #e9e9e9;
}
.comment-input .send-container{
    padding-top: 20px;
    width: 100%;
    text-align: right;
    position: relative;
}
.comment-input .send-container button{
    position: absolute;
    right: 3%;
    top: -20px;
}
.comment-input .send-container button h4{
    color: #1d84ef;
}
.comment-input .rich-text-comment{
    width: 100%;
    max-width: 92%;
    margin-top: -37px;
}
.comment-input .rich-text-comment #emoji-palette{
    top: -4px!important;
    position: absolute;
    z-index: 200;
    border: 1px solid #e9e9e9;
    background: white;
    border-radius: 10px;
    max-width: 330px;
    padding: 10px;
    right: 0;
    left: auto!important;
}
.textarea-emoji-control{
    display: none;
}
.comment-input .rich-text-comment #emoji-palette #tab-toolbar{
    display: none;
}
.comment-input .rich-text-comment .ql-toolbar{
    z-index: 100;
    border: 0px;
    padding-top: 5px;
    position: relative;
    text-align: right;
    right: 0;
    align-content: end;
    width: 100%;
    max-width: 100%;
}
.comment-input .rich-text-comment .ql-toolbar svg{
    height: 26px;
}
.comment-input .rich-text-comment .ql-toolbar .ql-formats{
    margin-right: 0px;
}
.comment-input .rich-text-comment .ql-container{
    border-top: 1px solid #e1e5eb!important;
    border-radius: .25rem;
}
.participants-layout .event-detail .comments .comment-content-container{
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 15px;
    color: #050505;
}
.participants-layout .event-detail .comments .comment-content-container p{
    font-weight: 400;
    margin-bottom: 0;
}
#comment-content .comment-images{
    width: 100%;
    max-width: 600px;
    padding: 10px;
}
.participants-layout .event-detail .card-header .card-post__image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.participants-layout .event-detail .card-title .calendar-icon .div-1-0-1-1{
    background-color: #f2f6f9;
    height: 60px;
    width: 55px;
    padding: 5px;
}
.participants-layout .event-detail .card-title .calendar-icon .div-2-0-1-3{
    display: none;
}
.participants-layout .event-detail .card-title .calendar-icon .div-4-0-1-5{
    background-color: #f2f6f9;
    margin: auto;
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 400;
}
.participants-layout .event-detail .card-title .calendar-icon .div-3-0-1-6{
    background-color: #f2f6f9;
    padding: 10px;
    padding-top: 0;
    font-size: 20px;
    color: #3f3f3f;
    font-weight: 700;
}
.participants-layout .event-detail .date-container{
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
    background-color: hsla(182, 86%, 40%, 0.95);
    border-radius: 8px;
}
.participants-layout .event-detail .date-container p{
    margin-bottom: 0;
    color: white;
}
.participants-layout .event-detail .card-post--1.card-post--aside .card-body{
    padding-bottom: 5px;
}
.event-detail .card .card-text{
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #d3ced2;
}
.participants-layout .attend-event-button{
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.participants-layout .cancel-event-button{
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(237, 73, 86)!important;
    border: 0px!important;
    box-shadow: none;
}
.participants-layout .cancel-event-button:focus{
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(237, 73, 86);
    border-color: rgb(237, 73, 86);
    box-shadow: none;
}
@media only screen and (max-width: 1200px) {
    .participants-layout .event-list .card-title .event-title{
        max-width: 320px;
    }
}
@media only screen and (max-width: 1100px) {
    .participants-layout .event-detail {
        margin-right: 0%;
    }
    .participants-layout .event-list .card-title .event-title{
        max-width: 500px;
    }
}
@media only screen and (max-width: 991px) {
    .event-detail .event-list .card-post--1.card-post--aside .card-post__category{
        top: -1.6rem;
    }
    .event-detail .card .card-text{
        padding-top: 10px;
        margin-top: 25px;
        border-top: 1px solid #d3ced2;
    }
}
@media only screen and (max-width: 580px) {
    .comment-input .open-emoji{
        margin-top: 42px;
    }
}
@media only screen and (max-width: 500px) {
    .participants-layout .event-list .card-title .event-title{
        font-size: 18px;
        max-width: 250px;
    }
    .event-location .material-icons{
        font-size: 21px;
    }
    .event-location span{
        font-size: 14px;
    }
}
@media only screen and (max-width: 420px) {
    .participants-layout .event-detail{
        padding-left: 10px;
        padding-right: 10px;
    }
    .participants-layout  .event-list .card-title .event-title{
        max-width: 170px;
    }
}

/*Login*/
.participants-layout .login-page {
    margin-right: 30%;
}
.participants-layout .login-page .form-container{
    margin: auto;
    margin-top: 50px;
}
.login-page .invalid-feedback{
    font-size: 20px;
    display: block;
}
.login-page .col-lg-5 .card{
    margin-top: 30px;
}
.login-page .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.login-page .col-lg-5 {
    margin: auto;
}
.login-page .mb-2.mr-1.btn.btn-primary {
    width: 100%;
}
.login-page .text-muted.d-block.mb-2.forget {
    text-align: right;
}
.login-page .text-muted.d-block.mb-2.signin {
    text-align: center;
}

/*Signup*/
.participants-layout .signup-page{
    margin-right: 30%;
}
.participants-layout .signup-page .signup-form{
    margin: auto;
    margin-top: 30px;
}
.signup-page .invalid-feedback{
    font-size: 20px;
    display: block;
}
.signup-page .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.signup-page .col-lg-6 {
    margin: auto;
}
.signup-page .mb-2.mr-1.btn.btn-success {
    width: 100%;
}
@media only screen and (max-width: 1100px) {
    .participants-layout .signup-page{
        margin-right: 0;
    }
}
/*User-Profile*/
.participants-layout .user-profile{
    margin-right: 30%;
}
.participants-layout .user-profile .user-role{
    padding-bottom: 10px;
    font-weight: 400;
}
.participants-layout .user-profile .user-full-name{
    padding-bottom: 10px;
}
@media only screen and (max-width: 1100px) {
    .participants-layout .user-profile{
        margin-right: 0;
    }
}
.user-profile .btn-change-pass{
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 767px) {
    .user-profile .btn-update{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .user-profile .btn-change-pass{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}